.App {
    text-align: center;
    background-color: #F9F9F9;
    height: 100vh;
  }
  
.Home-header {
    padding-top: 10vh;
}

.optionsLabel {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
  